<div class="about-ctn">
  <div class="content">
    <div class="q q1">
      <h3>What does this do?</h3>
      <p>
        Fetches random quote. Can be cycled forever until motivation hits you.
      </p>
    </div>
    <div class="q q2">
      <h3>How does this do?</h3>
      <p>
        Using Forismatic API. Learn more <a href="https://forismatic.com/en/api/">here</a>.
      </p>
    </div>
    <div class="q q3">
      <h3>How can I contribute to this project?</h3>
      <p>
        You can find the project repository in <a href="https://github.com/KaranBains1996/quotes-app">GitHub</a>.
      </p>
    </div>
  </div>
