<nav>
  <div class="logo">
    <h4>self.motivate</h4>
  </div>
  <ul class="nav-links" (click)="closeNav()">
    <li>
      <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
    </li>
    <li>
      <a [routerLink]="['/about']" routerLinkActive="router-link-active" >FAQ</a>
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contact</a>
    </li>
  </ul>
  <div class="burger" (click)="toggleNav()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
